{% extends 'blog/layout.html' %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}

    <h2>{{ post.title }}</h2>

    {% if post.photo %}
        <img src="{{ post.photo.url }}" style="max-width:100%"/>
    {% endif %}

    {{ post.content|linebreaks }}

    <h1>Comments</h1>
    {% for i in post.comment_set.all %}
        <ul>
            <li>
                작성자: {{ i.author }}
                <small>| 생성일: {{ i.created_at }}</small>
                <p>{{ i.message }}
            </li>
        </ul>
    {% endfor %}
    <hr/>
    <a href="{% url 'blog:post_edit' post.id %}">수정하기</a>
    <a href="{% url 'blog:post_list' %}">목록으로</a>
{% endblock %}