{% extends 'blog/layout.html' %}
{% block content %}
<!--<p><form action="" method="get">-->
    <!--<input type="number" name="id-search" value="{{ id_search }}" placeholder="id를 검색하세요" autocomplete="off">-->
    <!--<input type="submit" value="검색">-->
<!--</form>-->
<p><form action="" method="get">
    <input type="text" name="title-search" value="{{ title_search }}" placeholder="제목을 검색하세요" autocomplete="off">
    <input type="submit" value="검색">
</form>
<!--<p><form action="" method="get">-->
    <!--<input type="date" name="date-search" value="{{ date_search }}">-->
    <!--<input type="submit" value="검색">-->
<!--</form>-->
<a href="{% url 'blog:post_new' %}">등록하기</a>
<ul>
    {% for i in qs %}
        <li>
            <p>
            {{ i.id }}
            <a href="{{ i.get_absolute_url }}">
                {{ i.title }}
            </a>
            {% for tag in i.tag_set.all %}
                <span class="lable lable-info">{{ tag.name }}</span>
            {% endfor %}
            by {{ i.updated_at |  date:"Y/m/d"}}
        <!--</li>-->
            <!--{{ i.comment_set.all }}-->
        <!--</li>-->
    {% endfor %}
</ul>
{% endblock %}