<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="" method="get">
        <input type="text" name="q" value="{{ q }}" autocomplete="off" placeholder="제목을 입력하세요"/>
        <input type="submit" value="검색"/>
    </form>

    <ul>
        {% for post in post_list %}
            <li>
                {{ post.id }}
                {{ post.title }}
                <small>by {{ post.author }}</small>
                <small>at {{ post.updated_at }}</small>
            </li>
        {% endfor %}
    </ul>
</body>
</html>