<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p><form action="" method="get">
        <input type="number" name="id-search" value="{{ id_search }}" placeholder="id를 검색하세요" autocomplete="off">
        <input type="submit" value="검색">
    </form>
    <p><form action="" method="get">
        <input type="text" name="title-search" value="{{ title_search }}" placeholder="제목을 검색하세요" autocomplete="off">
        <input type="submit" value="검색">
    </form>
    <p><form action="" method="get">
        <input type="date" name="date-search" value="{{ date_search }}">
        <input type="submit" value="검색">
    </form>
    <ul>
        {% for i in qs %}
            <li>
                <p> {{ i.id }} {{ i.title }} by {{ i.updated_at }}
            </li>
        {% endfor %}
    </ul>
</body>
</html>